/* 
 * { margin: 0%;
padding: 0;
box-sizing: border-box;
}
#nav{
    height: 100px;
    width: 100%; 
background-color:#ff0066 ;
display: flex;
justify-content: space-between;
align-items:center ;
}
.had{
    display: flex;
    gap: 20px;
    list-style:none ; 
}
a{
    text-decoration:none ;
    color: black;
}
button{
    height: 40px; 
    width: 120px; 
    background-color: black;
    color: #ff0066;
    border-radius:10px ;
    
     
} */
 
m*{margin:0px ;
    padding:0px ;
    box-sizing: border-box;

 }
 #nav{
    height: 100px; 
    width:100% ;
    background-color:#ff0066 ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
 }
 .had{

    display: flex;
    gap: 20px; 
    list-style: none;
 }
 a{text-decoration:none ;
    color: black;

 }
 button{
    height:40px; 
    width: 120px;
    background:black ; 
    color: #ff0066;
    border-radius:10px ;
 }
